<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit your profile</title>
</head>
<body>
    <form action="{% url "edit_profile" %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if user.profile_picture %}
        <img src="{{user.profile_picture.url}}" alt="profile_picture">
        {% else %}
        <img src="/media/default/user_image.png" alt="profile_picture">
        {% endif %}

        <label for="image">Select a profile picture:</label>
        <input type="file" id="image" name="image" accept="image/*"><br><br>

        <label for="username">Username:</label>
        <input type="text" id="username" name="username" maxlength="20" required pattern="[A-Za-z0-9]+" title="Username must contain only letters and numbers." value={{user.username}}><br><br>
        
        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name" maxlength="255" value="{{user.first_name}}" required><br><br>
        
        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name" maxlength="255" value="{{user.last_name}}" required><br><br>
        
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" value="{{user.email}}" required><br><br>
        
        <button type="submit">Save</button>
    </form>
</body>
</html>