<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
</head>
<body>
    <form action="{% url "forgot_password"%}" method="post" >
        {% csrf_token %}
        <label for="username-email">enter your email/username</label><br>
        <input type="text" id="username-email" name="username-email"><br>

        <button type="submit">Send Reset Link</button>
    </form>
</body>
</html>