<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body>
    <form action="{% url "reset_password" uidb64 %}" method="post" id="resetpasswordForm" onsubmit="return validatePasswords()">
        {% csrf_token %}

        <label for="newpassword">New password</label>
        <input type="password" name="newpassword" id="newpassword" placeholder="Enter your new password"><br><br>

        <label for="confirmnewpassword">Confirm new password</label>
        <input type="password" name="confirmnewpassword" id="confirmnewpassword" placeholder="Fill new password again"><br><br>
        
        <button type="submit">Reset Password</button>
    </form>

    <script>
        function validatePasswords() {
            var newPassword = document.getElementById('newpassword').value;
            var confirmnewpassword = document.getElementById('confirmnewpassword').value;
    
            if (newPassword !== confirmnewpassword) {
                alert('The new password and the new confirm new password do not match.');
                return false; // Prevent form submission
            }
    
            return true; // Allow form submission
        }
    </script>
</body>
</html>